.top-bar, .top-bar ul {
  background-color: $nav-background !important;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }
}

.menu > .menu-text a {
  display: inline !important;
  padding: 0 ;
}
